<div class = "container" style="margin-top:100px;">
  <div class ="row">
<div class ="col-6 offset-3">
<h4>Modificar la Noticia</h4>
<form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data"/>
    <input type="hidden" value="{{noticia.id}}" name="id">
    <div class = "mb-3 row">
        <label for="">Titulo</label>
        <input type="text" class="form-control" name="titulo" value="{{noticia.titulo}}">
    </div>

<div class = "mb-3 row">
        <label for="">Subtitulo</label>
        <textarea name="subtitulo" class="form-control">{{noticia.subtitulo}}</textarea>
    </div>


<div class = "mb-3 row">
        <label for="">Cuerpo</label>
        <textarea name="cuerpo" class="form-control">{{noticia.cuerpo}}</textarea>
    </div>
<div class ="mb-3 row">
    <p>
<label>Imagen:<input type="file" name="imagen" id="imagen"/></label>
</p>
<p>
    <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
<input type="hidden" name="img_original" value="{{novedad.img_id}}">
</p>
</div>

<button type="submit" class="btn btn-primary">Modificar y salir</button>

</form>
{{#if error}}
<p>Error al subir la noticia</p>
{{/if}}
</div>
  </div>
</div>
</div>